<!-- Favicon -->
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌺</text></svg>">

<!-- Meta Tags for SEO -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A powerful i18n library for JavaScript, Node.JS, and TypeScript projects. Simplify internationalization with this npm dependency.">
<meta name="keywords" content="i18n, internationalization, npm, Node.JS, JavaScript, TypeScript, localization, programming">
<meta name="author" content="brownrw8">
<meta property="og:title" content="ʻŌlelo Honua: i18n Library for JavaScript/TypeScript/Node.JS">
<meta property="og:description" content="Simplify internationalization with this powerful i18n npm dependency for JavaScript, Node.JS, and TypeScript projects.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.olelohonua.com">
<meta property="og:image" content="https://www.olelohonua.com/images/logo.png">

<!-- GitHub Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>